.navbar {
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px lightgray;
    background-color: white;
    opacity: 0.95;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

}

.logo {
    text-align: center;
    margin-top: 3px;
    padding: 5px;
    max-width: 160px;
}