#navFooter{
    bottom:0px;
    position: fixed;
    width:100%;
    background-color: white;
    right:0px;
    left:0px;
    opacity:0.95;
    /*border-top: solid lightgray 1px;*/
    box-shadow: 0px 0px 5px lightgray;
    display: none;
}

button{
    border:none;
}

.navFooterStyle{
    color:black;
    font-weight:200;
}

#nextButton{
    padding:10px;
    float:right;
}

#backButton{
    float:left;
    padding:10px;
}

.fa-chevron-left{
    font-size:17px;
    color:#D70428;
    margin-right: 5px;
}

.fa-chevron-right{
    font-size:17px;
    color:#D70428;
    margin-left: 5px;
}

.fa-chevron-left-disabled{
    font-size:17px;
    color:lightgrey;
    margin-right: 5px;
}

