a{
    text-decoration:none;
    color:black;

}
a:hover{

    text-decoration:none;
    color:black;
    cursor: pointer;
}

#navFooter{
    bottom:0;
    position: fixed;
    width:100%;
    background-color: white;
    right:0;
    left:0;
    opacity:0.95;
    /*border-top: solid lightgray 1px;*/
    box-shadow: 0 0 5px lightgray;
    display: none;
}

button{
    border:none;
}

.navFooterStyle{
    color:black;
    font-weight:200;
}

#nextButton{
    padding:10px;
    float:right;
}

#backButton{
    float:left;
    padding:10px;
    text-decoration: none;
}

.fa-chevron-left{
    font-size:17px;
    color:#D70428;
    margin-right: 5px;
}

.fa-chevron-right{
    font-size:17px;
    color:#D70428;
    margin-left: 5px;
}

.fa-chevron-left-disabled{
    font-size:17px;
    color:lightgrey;
    margin-right: 5px;
}

