
    <div id="locationType"></div>
<!---------------------------This part is for the coach branch--------------------------->

    <div id="unhideCoach">

        <p><b>2.</b> Please enter the coach Number<i class='fas fa-question-circle'></i></p>
        <input class="inputBox" id="coachNumberInput" maxlength="6"  type="number" name="coachNumber" placeholder="Coach Number"required>

        <div id="unhideSeatRequest"><p></p>
            <p><b>3.</b> Is there a seat number near or at the fault?<i class='fas fa-question-circle'></i></p>
            <a href="#seatNumber"><p class="redBox"  id="seatNumberAvailable" onclick="unhideSeatNumber()"><i class='fas fa-check'></i>Yes</p></a>
            <a href="#trainMap"><p class="redBox"  id="seatNumberUnavailable" onclick="unhideTrainMap()"><i class='fas fa-times'></i>No</p></a>
        </div>
    </div>


    <a name="seatNumber">
        <div id="unhideSeatNumber">
            <p><b>4.</b> Please enter the seat Number<i class='fas fa-question-circle'></i></p>
            <input class="inputBox" id="seatNumberInput" maxlength="2" pattern="\d{2}" type="text" name="coachSeatNumber"  placeholder="Seat Number" required>
        </div>
    </a>

    <a name="trainMap">
        <div id="unhideSeatMap">

            <p><b>4.</b> Please locate yourself within the map<i class='fas fa-question-circle'></i></p>

            <select class="dropDownOption" id="subLocationList"></select><p></p>
            <p id="userLocateText" class="smallFont floatRight">Click on the map to location the fault</p>
            <div class="trainMapContainer">


                <div id="trainMap"></div>

                <div id="faultLocationPoint"><i  class="far fa-circle"></i></div>

            </div>

        </div>
    </a>



<!---------------------------This part is for the station branch--------------------------->

    <div id="unhideStation">

        <p>2. Please enter the station name</p>
        <input class="form-control-lg" id="stationInput" role="menu" type="text" placeholder="Search station name..">
        <br>
        <ul class="list-group" id="stationList">

            <!--Hidden list of station here because not using frontend to get station record anymore-->
           <!-- <li class="list-group-item" value="Acle">Acle</li>
            <li class="list-group-item" value="Alresford (Essex)">Alresford (Essex)</li>
            <li class="list-group-item" value="Althorne (Essex)">Althorne (Essex)</li>
            <li class="list-group-item" value="Angel Road">Angel Road</li>
            <li class="list-group-item" value="Attleborough">Attleborough</li>
            <li class="list-group-item" value="Audley End">Audley End</li>
            <li class="list-group-item" value="Battlesbridge">Battlesbridge</li>
            <li class="list-group-item" value="Beccles">Beccles</li>
            <li class="list-group-item" value="Berney Arms">Berney Arms</li>
            <li class="list-group-item" value="Billericay">Billericay</li>
            <li class="list-group-item" value="Bishops Stortford">Bishops Stortford</li>
            <li class="list-group-item" value="Braintree">Braintree</li>
            <li class="list-group-item" value="Braintree Freeport">Braintree Freeport</li>
            <li class="list-group-item" value="Brampton (Suffolk)">Brampton (Suffolk)</li>
            <li class="list-group-item" value="Brandon">Brandon</li>
            <li class="list-group-item" value="Brimsdown">Brimsdown</li>
            <li class="list-group-item" value="Broxbourne">Broxbourne</li>
            <li class="list-group-item" value="Brundall">Brundall</li>
            <li class="list-group-item" value="Brundall Gardens">Brundall Gardens</li>
            <li class="list-group-item" value="Buckenham (Norfolk)">Buckenham (Norfolk)</li>
            <li class="list-group-item" value="Bures">Bures</li>
            <li class="list-group-item" value="Burnham-on-Crouch">Burnham-on-Crouch</li>
            <li class="list-group-item" value="Bury St Edmunds">Bury St Edmunds</li>
            <li class="list-group-item" value="Cambridge">Cambridge</li>
            <li class="list-group-item" value="Cambridge North">Cambridge North</li>
            <li class="list-group-item" value="Cantley">Cantley</li>
            <li class="list-group-item" value="Chappel & Wakes Colne">Chappel & Wakes Colne</li>
            <li class="list-group-item" value="Chelmsford">Chelmsford</li>
            <li class="list-group-item" value="Cheshunt">Cheshunt</li>
            <li class="list-group-item" value="Clacton-on-Sea">Clacton-on-Sea</li>
            <li class="list-group-item" value="Colchester">Colchester</li>
            <li class="list-group-item" value="Colchester Town">Colchester Town</li>
            <li class="list-group-item" value="Cressing (Essex)">Cressing (Essex)</li>
            <li class="list-group-item" value="Cromer">Cromer</li>
            <li class="list-group-item" value="Darsham">Darsham</li>
            <li class="list-group-item" value="Derby Road (Ipswich)">Derby Road (Ipswich)</li>
            <li class="list-group-item" value="Diss">Diss</li>
            <li class="list-group-item" value="Dovercourt">Dovercourt</li>
            <li class="list-group-item" value="Downham Market">Downham Market</li>
            <li class="list-group-item" value="Dullingham">Dullingham</li>
            <li class="list-group-item" value="Eccles Road">Eccles Road</li>
            <li class="list-group-item" value="Elmswell">Elmswell</li>
            <li class="list-group-item" value="Elsenham (Essex)">Elsenham (Essex)</li>
            <li class="list-group-item" value="Ely">Ely</li>
            <li class="list-group-item" value="Enfield Lock">Enfield Lock</li>
            <li class="list-group-item" value="Felixstowe">Felixstowe</li>
            <li class="list-group-item" value="Frinton-on-Sea">Frinton-on-Sea</li>
            <li class="list-group-item" value="Great Bentley">Great Bentley</li>
            <li class="list-group-item" value="Great Chesterford">Great Chesterford</li>
            <li class="list-group-item" value="Great Yarmouth">Great Yarmouth</li>
            <li class="list-group-item" value="Gunton">Gunton</li>
            <li class="list-group-item" value="Haddiscoe">Haddiscoe</li>
            <li class="list-group-item" value="Halesworth">Halesworth</li>
            <li class="list-group-item" value="Harling Road">Harling Road</li>
            <li class="list-group-item" value="Harlow Mill">Harlow Mill</li>
            <li class="list-group-item" value="Harlow Town">Harlow Town</li>
            <li class="list-group-item" value="Harwich International">Harwich International</li>
            <li class="list-group-item" value="Harwich Town">Harwich Town</li>
            <li class="list-group-item" value="Hatfield Peverel">Hatfield Peverel</li>
            <li class="list-group-item" value="Hertford East">Hertford East</li>
            <li class="list-group-item" value="Hockley">Hockley</li>
            <li class="list-group-item" value="Hoveton & Wroxham">Hoveton & Wroxham</li>
            <li class="list-group-item" value="Hythe (Essex)">Hythe (Essex)</li>
            <li class="list-group-item" value="Ingatestone">Ingatestone</li>
            <li class="list-group-item" value="Ipswich">Ipswich</li>
            <li class="list-group-item" value="Kelvedon">Kelvedon</li>
            <li class="list-group-item" value="Kennett">Kennett</li>
            <li class="list-group-item" value="Kings Lynn">Kings Lynn</li>
            <li class="list-group-item" value="Kirby Cross">Kirby Cross</li>
            <li class="list-group-item" value="Lakenheath">Lakenheath</li>
            <li class="list-group-item" value="Lea Bridge">Lea Bridge</li>
            <li class="list-group-item" value="Lingwood">Lingwood</li>
            <li class="list-group-item" value="Littleport">Littleport</li>
            <li class="list-group-item" value="London Liverpool Street">London Liverpool Street</li>
            <li class="list-group-item" value="Lowestoft">Lowestoft</li>
            <li class="list-group-item" value="Manea">Manea</li>
            <li class="list-group-item" value="Manningtree">Manningtree</li>
            <li class="list-group-item" value="March">March</li>
            <li class="list-group-item" value="Marks Tey">Marks Tey</li>
            <li class="list-group-item" value="Melton (Suffolk)">Melton (Suffolk)</li>
            <li class="list-group-item" value="Meridian Water">Meridian Water</li>
            <li class="list-group-item" value="Mistley">Mistley</li>
            <li class="list-group-item" value="Needham Market">Needham Market</li>
            <li class="list-group-item" value="Newmarket">Newmarket</li>
            <li class="list-group-item" value="Newport (Essex)">Newport (Essex)</li>
            <li class="list-group-item" value="North Fambridge">North Fambridge</li>
            <li class="list-group-item" value="North Walsham">North Walsham</li>
            <li class="list-group-item" value="Northumberland Park">Northumberland Park</li>
            <li class="list-group-item" value="Norwich">Norwich</li>
            <li class="list-group-item" value="Oulton Broad North">Oulton Broad North</li>
            <li class="list-group-item" value="Oulton Broad South">Oulton Broad South</li>
            <li class="list-group-item" value="Peterborough">Peterborough</li>
            <li class="list-group-item" value="Ponders End">Ponders End</li>
            <li class="list-group-item" value="Prittlewell">Prittlewell</li>
            <li class="list-group-item" value="Rayleigh">Rayleigh</li>
            <li class="list-group-item" value="Reedham (Norfolk)">Reedham (Norfolk)</li>
            <li class="list-group-item" value="Rochford">Rochford</li>
            <li class="list-group-item" value="Roughton Road">Roughton Road</li>
            <li class="list-group-item" value="Roydon">Roydon</li>
            <li class="list-group-item" value="Rye House">Rye House</li>
            <li class="list-group-item" value="Salhouse">Salhouse</li>
            <li class="list-group-item" value="Sawbridgeworth">Sawbridgeworth</li>
            <li class="list-group-item" value="Saxmundham">Saxmundham</li>
            <li class="list-group-item" value="Shelford (Cambs)">Shelford (Cambs)</li>
            <li class="list-group-item" value="Shenfield">Shenfield</li>
            <li class="list-group-item" value="Sheringham">Sheringham</li>
            <li class="list-group-item" value="Shippea Hill">Shippea Hill</li>
            <li class="list-group-item" value="Somerleyton">Somerleyton</li>
            <li class="list-group-item" value="South Woodham Ferrers">South Woodham Ferrers</li>
            <li class="list-group-item" value="Southend Airport">Southend Airport</li>
            <li class="list-group-item" value="Southend Victoria">Southend Victoria</li>
            <li class="list-group-item" value="Southminster">Southminster</li>
            <li class="list-group-item" value="Spooner Row">Spooner Row</li>
            <li class="list-group-item" value="St Margarets (Herts)">St Margarets (Herts)</li>
            <li class="list-group-item" value="Stansted Airport">Stansted Airport</li>
            <li class="list-group-item" value="Stansted Mountfitchet">Stansted Mountfitchet</li>
            <li class="list-group-item" value="Stowmarket">Stowmarket</li>
            <li class="list-group-item" value="Stratford (London)">Stratford (London)</li>
            <li class="list-group-item" value="Sudbury (Suffolk)">Sudbury (Suffolk)</li>
            <li class="list-group-item" value="Thetford">Thetford</li>
            <li class="list-group-item" value="Thorpe-le-Soken">Thorpe-le-Soken</li>
            <li class="list-group-item" value="Thurston">Thurston</li>
            <li class="list-group-item" value="Tottenham Hale">Tottenham Hale</li>
            <li class="list-group-item" value="Trimley">Trimley</li>
            <li class="list-group-item" value="Waltham Cross">Waltham Cross</li>
            <li class="list-group-item" value="Walton-on-the-Naze">Walton-on-the-Naze</li>
            <li class="list-group-item" value="Ware (Herts)">Ware (Herts)</li>
            <li class="list-group-item" value="Waterbeach">Waterbeach</li>
            <li class="list-group-item" value="Watlington">Watlington</li>
            <li class="list-group-item" value="Weeley">Weeley</li>
            <li class="list-group-item" value="West Runton">West Runton</li>
            <li class="list-group-item" value="Westerfield">Westerfield</li>
            <li class="list-group-item" value="White Notley">White Notley</li>
            <li class="list-group-item" value="Whittlesea">Whittlesea</li>
            <li class="list-group-item" value="Whittlesford Parkway">Whittlesford Parkway</li>
            <li class="list-group-item" value="Wickford">Wickford</li>
            <li class="list-group-item" value="Wickham Market">Wickham Market</li>
            <li class="list-group-item" value="Witham">Witham</li>
            <li class="list-group-item" value="Wivenhoe">Wivenhoe</li>
            <li class="list-group-item" value="Woodbridge">Woodbridge</li>
            <li class="list-group-item" value="Worstead">Worstead</li>
            <li class="list-group-item" value="Wrabness">Wrabness</li>
            <li class="list-group-item" value="Wymondham">Wymondham</li>-->
        </ul>

        <div id="unhideStationLocation">
            <p>Please locate the area within the station<i class='fas fa-question-circle'></i></p>
            <select class="dropDownOption" id=""></select>
        </div>
    </div>

<!---------------------------This part is for the 3 fault dropdowns which both station and coach share (issueType,object,condition)--------------------------->

    <a name="faultDropdown">
    <div id="unhideFaultDescriptionDropdown"><p></p>

            <p><b>5.</b> Please identify the fault?<i class='fas fa-question-circle'></i></p>
            <select class="dropDownOption" id="faultObjectDropdown"></select>

    </div>

        <div id="otherFault"><p></p>

            <p>Please specify the fault<i class='fas fa-question-circle'></i></p>
            <input class="inputBox" id="otherFaultInput" maxlength="500"  type="text" name="otherFaultInput" placeholder="Describe the fault"required>
        </div>


        <div id="unhideFaultCondition"><p></p>
            <p><b>6.</b> Please describe the condition of the fault<i class='fas fa-question-circle'></i></p>
            <select class="dropDownOption" id="faultConditionDropdown"></select>
        </div>
    </a>

    <!----------------------------------------------------------Camera page---------------------------------------------------->

    <div id="cameraSection">

        <input type="file" id="file" style="display:none;" />
        <button id="button" name="button" value="Upload" onclick="thisFileUpload();">Upload</button>

    </div>