
    <div id="locationType"></div>

    <!---------------------------This part is for the station branch--------------------------->

    <div id="unhideStation">

        <p>Please Enter the Station Name <i class='fas fa-question-circle' data-toggle="modal" data-target="#chooseStationModal"></i></p>

        <div id="chooseStationModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                    </div>
                    <div class="modal-body">


                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse3a" role="button" aria-expanded="false" aria-controls="collapseExample">
                            I can't find the station name</a></p>

                        <div class="collapse" id="collapse3a">
                            <div class="card card-body">
                                <p class="text-dark"><small>Please begin your search by typing in the first two letters of the station name <br> if the station does not appear your station may not be part of the Greater Anglia network</small></p>
                            </div>
                        </div>

                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse3b" role="button" aria-expanded="false" aria-controls="collapseExample">
                            What is considered part of the station?</a></p>

                        <div class="collapse" id="collapse3b">
                            <div class="card card-body">
                                <p class="text-dark"><small>If your fault is found beyond the entrance to the station, in the toilets, lobby, waiting room or on a platform, your fault is at a station</small></p>
                            </div>
                        </div>

                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse3c" role="button" aria-expanded="false" aria-controls="collapseExample">
                            What if the fault is in a shop?</a></p>

                        <div class="collapse" id="collapse3c">
                            <div class="card card-body">
                                <p class="text-dark"><small> Commercially owned stores and shops selling food, beverages and goods <br> are left accountable for their own premises </small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <input class="form-control-lg" id="stationInput" role="menu" type="text" placeholder="Search Station Name..">
        <ul class="list-group" id="stationList">

            <!--Hidden list of station here because not using frontend to get station record anymore-->
            <!--<li class="list-group-item" value="1">Acle</li>
            <li class="list-group-item" value="2">Alresford (Essex)</li>
            <li class="list-group-item" value="3">Althorne (Essex)</li>
            <li class="list-group-item" value="4">Angel Road</li>
            <li class="list-group-item" value="5">Attleborough</li>
            <li class="list-group-item" value="6">Audley End</li>
            <li class="list-group-item" value="7">Battlesbridge</li>
            <li class="list-group-item" value="8">Beccles</li>
            <li class="list-group-item" value="9">Berney Arms</li>
            <li class="list-group-item" value="10">Billericay</li>
            <li class="list-group-item" value="11">Bishops Stortford</li>
            <li class="list-group-item" value="12">Braintree</li>
            <li class="list-group-item" value="13">Braintree Freeport</li>
            <li class="list-group-item" value="14">Brampton (Suffolk)</li>
            <li class="list-group-item" value="15">Brandon</li>
            <li class="list-group-item" value="16">Brimsdown</li>
            <li class="list-group-item" value="17">Broxbourne</li>
            <li class="list-group-item" value="18">Brundall</li>
            <li class="list-group-item" value="19">Brundall Gardens</li>
            <li class="list-group-item" value="20">Buckenham (Norfolk)</li>
            <li class="list-group-item" value="21">Bures</li>
            <li class="list-group-item" value="22">Burnham-on-Crouch</li>
            <li class="list-group-item" value="23">Bury St Edmunds</li>
            <li class="list-group-item" value="24">Cambridge</li>
            <li class="list-group-item" value="25">Cambridge North</li>
            <li class="list-group-item" value="26">Cantley</li>
            <li class="list-group-item" value="27">Chappel & Wakes Colne</li>
            <li class="list-group-item" value="28">Chelmsford</li>
            <li class="list-group-item" value="29">Cheshunt</li>
            <li class="list-group-item" value="30">Clacton-on-Sea</li>
            <li class="list-group-item" value="31">Colchester</li>
            <li class="list-group-item" value="32">Colchester Town</li>
            <li class="list-group-item" value="33">Cressing (Essex)</li>
            <li class="list-group-item" value="34">Cromer</li>
            <li class="list-group-item" value="35">Darsham</li>
            <li class="list-group-item" value="36">Derby Road (Ipswich)</li>
            <li class="list-group-item" value="37">Diss</li>
            <li class="list-group-item" value="38">Dovercourt</li>
            <li class="list-group-item" value="39">Downham Market</li>
            <li class="list-group-item" value="40">Dullingham</li>
            <li class="list-group-item" value="41">Eccles Road</li>
            <li class="list-group-item" value="42">Elmswell</li>
            <li class="list-group-item" value="43">Elsenham (Essex)</li>
            <li class="list-group-item" value="44">Ely</li>
            <li class="list-group-item" value="45">Enfield Lock</li>
            <li class="list-group-item" value="46">Felixstowe</li>
            <li class="list-group-item" value="47">Frinton-on-Sea</li>
            <li class="list-group-item" value="48">Great Bentley</li>
            <li class="list-group-item" value="49">Great Chesterford</li>
            <li class="list-group-item" value="50">Great Yarmouth</li>
            <li class="list-group-item" value="51">Gunton</li>
            <li class="list-group-item" value="52">Haddiscoe</li>
            <li class="list-group-item" value="53">Halesworth</li>
            <li class="list-group-item" value="54">Harling Road</li>
            <li class="list-group-item" value="55">Harlow Mill</li>
            <li class="list-group-item" value="56">Harlow Town</li>
            <li class="list-group-item" value="57">Harwich International</li>
            <li class="list-group-item" value="58">Harwich Town</li>
            <li class="list-group-item" value="59">Hatfield Peverel</li>
            <li class="list-group-item" value="60">Hertford East</li>
            <li class="list-group-item" value="61">Hockley</li>
            <li class="list-group-item" value="62">Hoveton & Wroxham</li>
            <li class="list-group-item" value="63">Hythe (Essex)</li>
            <li class="list-group-item" value="64">Ingatestone</li>
            <li class="list-group-item" value="65">Ipswich</li>
            <li class="list-group-item" value="66">Kelvedon</li>
            <li class="list-group-item" value="67">Kennett</li>
            <li class="list-group-item" value="68">Kings Lynn</li>
            <li class="list-group-item" value="69">Kirby Cross</li>
            <li class="list-group-item" value="70">Lakenheath</li>
            <li class="list-group-item" value="71">Lea Bridge</li>
            <li class="list-group-item" value="72">Lingwood</li>
            <li class="list-group-item" value="73">Littleport</li>
            <li class="list-group-item" value="74">London Liverpool Street</li>
            <li class="list-group-item" value="75">Lowestoft</li>
            <li class="list-group-item" value="76">Manea</li>
            <li class="list-group-item" value="77">Manningtree</li>
            <li class="list-group-item" value="78">March</li>
            <li class="list-group-item" value="79">Marks Tey</li>
            <li class="list-group-item" value="80">Melton (Suffolk)</li>
            <li class="list-group-item" value="81">Meridian Water</li>
            <li class="list-group-item" value="82">Mistley</li>
            <li class="list-group-item" value="83">Needham Market</li>
            <li class="list-group-item" value="84">Newmarket</li>
            <li class="list-group-item" value="85">Newport (Essex)</li>
            <li class="list-group-item" value="86">North Fambridge</li>
            <li class="list-group-item" value="87">North Walsham</li>
            <li class="list-group-item" value="88">Northumberland Park</li>
            <li class="list-group-item" value="89">Norwich</li>
            <li class="list-group-item" value="90">Oulton Broad North</li>
            <li class="list-group-item" value="91">Oulton Broad South</li>
            <li class="list-group-item" value="92">Peterborough</li>
            <li class="list-group-item" value="93">Ponders End</li>
            <li class="list-group-item" value="94">Prittlewell</li>
            <li class="list-group-item" value="95">Rayleigh</li>
            <li class="list-group-item" value="96">Reedham (Norfolk)</li>
            <li class="list-group-item" value="97">Rochford</li>
            <li class="list-group-item" value="98">Roughton Road</li>
            <li class="list-group-item" value="99">Roydon</li>
            <li class="list-group-item" value="100">Rye House</li>
            <li class="list-group-item" value="101">Salhouse</li>
            <li class="list-group-item" value="102">Sawbridgeworth</li>
            <li class="list-group-item" value="103">Saxmundham</li>
            <li class="list-group-item" value="104">Shelford (Cambs)</li>
            <li class="list-group-item" value="105">Shenfield</li>
            <li class="list-group-item" value="106">Sheringham</li>
            <li class="list-group-item" value="107">Shippea Hill</li>
            <li class="list-group-item" value="108">Somerleyton</li>
            <li class="list-group-item" value="109">South Woodham Ferrers</li>
            <li class="list-group-item" value="110">Southend Airport</li>
            <li class="list-group-item" value="111">Southend Victoria</li>
            <li class="list-group-item" value="112">Southminster</li>
            <li class="list-group-item" value="113">Spooner Row</li>
            <li class="list-group-item" value="114">St Margarets (Herts)</li>
            <li class="list-group-item" value="115">Stansted Airport</li>
            <li class="list-group-item" value="116">Stansted Mountfitchet</li>
            <li class="list-group-item" value="117">Stowmarket</li>
            <li class="list-group-item" value="118">Stratford (London)</li>
            <li class="list-group-item" value="119">Sudbury (Suffolk)</li>
            <li class="list-group-item" value="120">Thetford</li>
            <li class="list-group-item" value="121">Thorpe-le-Soken</li>
            <li class="list-group-item" value="122">Thurston</li>
            <li class="list-group-item" value="123">Tottenham Hale</li>
            <li class="list-group-item" value="124">Trimley</li>
            <li class="list-group-item" value="125">Waltham Cross</li>
            <li class="list-group-item" value="126">Walton-on-the-Naze</li>
            <li class="list-group-item" value="127">Ware (Herts)</li>
            <li class="list-group-item" value="128">Waterbeach</li>
            <li class="list-group-item" value="129">Watlington</li>
            <li class="list-group-item" value="130">Weeley</li>
            <li class="list-group-item" value="131">West Runton</li>
            <li class="list-group-item" value="132">Westerfield</li>
            <li class="list-group-item" value="133">White Notley</li>
            <li class="list-group-item" value="134">Whittlesea</li>
            <li class="list-group-item" value="135">Whittlesford Parkway</li>
            <li class="list-group-item" value="136">Wickford</li>
            <li class="list-group-item" value="137">Wickham Market</li>
            <li class="list-group-item" value="138">Witham</li>
            <li class="list-group-item" value="139">Wivenhoe</li>
            <li class="list-group-item" value="140">Woodbridge</li>
            <li class="list-group-item" value="141">Worstead</li>
            <li class="list-group-item" value="142">Wrabness</li>
            <li class="list-group-item" value="143">Wymondham</li>-->
        </ul>


    </div>

<!---------------------------This part is for the coach branch--------------------------->

    <div id="unhideCoach">

        <p>Please Enter the Coach Number  <i class='fas fa-question-circle' data-toggle="modal" data-target="#coachNumberModal"></i></p>


        <div id="coachNumberModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                    </div>
                    <div class="modal-body">

                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse2a" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Where can I find the coach number?</a></p>

                        <div class="collapse" id="collapse2a">
                            <div class="card card-body">
                                <p class="text-dark"><p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/CoachNoExample1.jpg" alt=""></p><small>Coach numbers can be found both ends of the coach, printed on the inside and outside</small></p>
                                <p class="text-dark"><p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/CoachNoExample3.jpg" alt=""></p>
                            </div>
                        </div>


                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse2b" role="button" aria-expanded="false" aria-controls="collapseExample">
                            I don't know the coach number</a></p>

                        <div class="collapse" id="collapse2b">
                            <div class="card card-body">
                                <p class="text-dark"><small>Without the coach number you can not report a fault on a coach</small></p>
                            </div>
                        </div>


                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse2c" role="button" aria-expanded="false" aria-controls="collapseExample">
                            How many digits is a coach number? </a></p>

                        <div class="collapse" id="collapse2c">
                            <div class="card card-body">
                                <p class="text-dark"><small>All coaches are assigned a 5 or 6 digit long identification </small></p>
                            </div>
                        </div>

                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse2d" role="button" aria-expanded="false" aria-controls="collapseExample">
                            My coach number is not 5 or 6 digits </a></p>

                        <div class="collapse" id="collapse2d">
                            <div class="card card-body">
                                <p class="text-dark"><small>Please check again. All coach numbers are 5 or 6 digits </small></p>
                            </div>
                        </div>

                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse2e" role="button" aria-expanded="false" aria-controls="collapseExample">
                            What is a Coach? </a></p>

                        <div class="collapse" id="collapse2e">
                            <div class="card card-body">
                                <p class="text-dark"><small>A coach is also known as a carriage and is one of the singular vessels which all trains consist of </small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <input class="inputBox" id="coachNumberInput" maxlength="6"  type="number" name="coachNumber" placeholder="Coach Number"required>
    </div>




        <div id="unhideSeatMap">

            <p>Please Specify the Location<i class='fas fa-question-circle' data-toggle="modal" data-target="#coachLocationSub"></i></p>

            <div id="coachLocationSub" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                        </div>
                        <div class="modal-body">


                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse13a" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is an Overhead Luggage Rack?</a></p>

                            <div class="collapse" id="collapse13a">
                                <div class="card card-body">
                                    <p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/OverheadLuggageRack.jpg" alt=""></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse13b" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is a Buffet?</a></p>

                            <div class="collapse" id="collapse13b">
                                <div class="card card-body">
                                    <p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/CoachBuffet.jpg" alt=""></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse13c" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is a Drivers Cab?</a></p>

                            <div class="collapse" id="collapse13c">
                                <div class="card card-body">
                                    <p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/DriversCab.jpg" alt=""></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse13d" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is a Luggage Rack?</a></p>

                            <div class="collapse" id="collapse13d">
                                <div class="card card-body">
                                    <p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/LuggageRack.jpg" alt=""></p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <select class="dropDownOption" id="subLocationList"></select><p></p>

        </div>


    <div id="unhidePlatformNumber">

        <p>Please Enter the Platform Number<i class='fas fa-question-circle'></i></p>
        <input class="inputBox" id="platformNumberInput" maxlength="3"  type="text" name="platformNumber" placeholder="Platform Number"required>

    </div>

        <div id="unhideSeatRequest">
            <p>Is there a Seat Number Nearby?<i class='fas fa-question-circle' data-toggle="modal" data-target="#identifyBySeatModal"></i></p>

            <div id="identifyBySeatModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                        </div>
                        <div class="modal-body">

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse5a" role="button" aria-expanded="false" aria-controls="collapseExample">
                                The fault is not near a seat</a></p>

                            <div class="collapse" id="collapse5a">
                                <div class="card card-body">
                                    <p class="text-dark"><small>If there is no seat in close proximity, please select 'No' </small></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse5b" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is nearby?</a></p>

                            <div class="collapse" id="collapse5b">
                                <div class="card card-body">
                                    <p class="text-dark"><small>Any seat in close proximity (within a metre) of the fault is sufficient </small></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse5c" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Where is the seat number?</a></p>

                            <div class="collapse" id="collapse5c">
                                <div class="card card-body">
                                    <p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/SeatNoExample1.jpg" alt=""></p><p><small>Seat numbers are usually on the head of the chair or printed above the window </small></p>
                                    <img class="img-responsive" style="margin:0 auto;" src="image/SeatNoExample2.jpg" alt=""> </p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse5d" role="button" aria-expanded="false" aria-controls="collapseExample">
                                The nearest seat has no number?</a></p>

                            <div class="collapse" id="collapse5d">
                                <div class="card card-body">
                                    <p class="text-dark"><small> Please select 'No' and follow further instructions</small> </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <a href="#seatNumber"><p class="redBox"  id="seatNumberAvailable" onclick="unhideSeatNumber();"><i class='fas fa-check'></i>Yes</p></a>
            <a href="#trainMap"><p class="redBox"  id="seatNumberUnavailable" onclick="unhideTrainMap();"><i class='fas fa-times'></i>No</p></a>
        </div>


        <p id="userLocateText"><i class="fas fa-map-pin" ></i>  Pin the Fault Location on the Interactive Coach Map <i  class="fas fa-circle"></i></p>



        <div id="trainMapContainer">

            <div id="trainMap"></div>
            <div id="faultLocationPoint"></div>



        </div>





    <a name="seatNumber">
        <div id="unhideSeatNumber">
            <p>Please Enter the Seat Number<i class='fas fa-question-circle' data-toggle="modal" data-target="#enterSeatNoModal"></i></p>

            <div id="enterSeatNoModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                        </div>
                        <div class="modal-body">

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse6e" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Where is the seat number?</a></p>

                            <div class="collapse" id="collapse6e">
                                <div class="card card-body">
                                    <p class="text-dark"><img class="img-responsive" style="margin:0 auto;" src="image/SeatNoExample1.jpg" alt=""></p><p><small>Seat numbers are usually on the head of the chair or printed above the window </small></p>
                                    <img class="img-responsive" style="margin:0 auto;" src="image/SeatNoExample2.jpg" alt=""> </p>
                                </div>
                            </div>


                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse6b" role="button" aria-expanded="false" aria-controls="collapseExample">
                                There are no seat numbers available</a></p>

                            <div class="collapse" id="collapse6b">
                                <div class="card card-body">
                                    <p class="text-dark"><small>Please press back and answer 'No' when asked if you know the seat number</small></p>
                                </div>
                            </div>


                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse6d" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is the seat number?</a></p>

                            <div class="collapse" id="collapse6d">
                                <div class="card card-body">
                                    <p class="text-dark"><small> Seat numbers consist of one or two numbers e.g. 12 </small></p>
                                </div>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
            <input class="inputBox" id="seatNumberInput" maxlength="2" pattern="\d{2}" type="text" name="coachSeatNumber"  placeholder="Seat Number" required>
        </div>
    </a>






<!---------------------------This part is for the 3 fault dropdowns which both station and coach share (issueType,object,condition)--------------------------->

    <a name="faultDropdown">
    <div id="unhideFaultDescriptionDropdown"><p></p>

            <p>Please Specify the Property<i class='fas fa-question-circle' data-toggle="modal" data-target="#identifyObjectModal"></i></p>

        <div id="identifyObjectModal" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                    </div>
                    <div class="modal-body">


                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse8a" role="button" aria-expanded="false" aria-controls="collapseExample">
                            What is the property of Greater Anglia?</a></p>

                        <div class="collapse" id="collapse8a">
                            <div class="card card-body">
                                <p class="text-dark"><small> From floors, to walls to windows, chairs, doors and tables our stations and coaches consist of a variety of property we manage and take care of</small></p>
                            </div>
                        </div>

                        <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse8b" role="button" aria-expanded="false" aria-controls="collapseExample">
                            The property I want to report is unavailable</a></p>

                        <div class="collapse" id="collapse8b">
                            <div class="card card-body">
                                <p class="text-dark"><small>We apologise for any inconvenience, please select 'Other' and provide more details</small></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


            <select class="dropDownOption" id="faultObjectDropdown"></select>

    </div>

        <div id="otherFault"><p></p>

            <p>Please Provide Details Required<i class='fas fa-question-circle' data-toggle="modal" data-target="#OtherInfoModal"></i></p>

            <div id="OtherInfoModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                        </div>
                        <div class="modal-body">


                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse12a" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What information should I provide?</a></p>

                            <div class="collapse" id="collapse12a">
                                <div class="card card-body">
                                    <p class="text-dark"><small> Any further details regarding the fault may be of use for us in identifying how to manage the fault</small></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse12b" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Do I need to write anything?</a></p>

                            <div class="collapse" id="collapse12b">
                                <div class="card card-body">
                                    <p class="text-dark"><small>To complete the fault report you are not obligated to write anything further</small></p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <input class="inputBox" id="otherFaultInput" maxlength="500"  type="text" name="otherFaultInput" placeholder="e.g. The lift on the bridge is malfunctioning" required>
        </div>


        <div id="unhideFaultCondition"><p></p>
            <p>Please Select a Suitable Condition<i class='fas fa-question-circle' data-toggle="modal" data-target="#conditionModal"></i></p>

            <div id="conditionModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Need Help?<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h4>
                        </div>
                        <div class="modal-body">


                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse9c" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is a malfunction?</a></p>

                            <div class="collapse" id="collapse9c">
                                <div class="card card-body">
                                    <p class="text-dark"><small> Faults which are more technical or electrical are considered malfunctions. <br> E.g. unresponsive ticket machine, electronic display board glitch, train doors not opening </small></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse9d" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is damaged?</a></p>

                            <div class="collapse" id="collapse9d">
                                <div class="card card-body">
                                    <p class="text-dark"><small> Faults considered damaged are more likely to be physical defects, broken seats, torn cloth etc, wobbly table </small></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse9e" role="button" aria-expanded="false" aria-controls="collapseExample">
                                What is dirty?</a></p>

                            <div class="collapse" id="collapse9e">
                                <div class="card card-body">
                                    <p class="text-dark"><small> Faults which can be amended with cleaning products are likely to be considered dirty </small></p>
                                </div>
                            </div>


                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse9a" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Why do I need to specify a condition?</a></p>

                            <div class="collapse" id="collapse9a">
                                <div class="card card-body">
                                    <p class="text-dark"><small> The condition helps us to prioritise more serious faults and identify the staff required to respond to the fault</small></p>
                                </div>
                            </div>

                            <p><a class="redBoxQuestion" data-toggle="collapse" href="#collapse9b" role="button" aria-expanded="false" aria-controls="collapseExample">
                                How do I determine condition?</a></p>

                            <div class="collapse" id="collapse9b">
                                <div class="card card-body">
                                    <p class="text-dark"><small>Please select the most applicable condition listed. If unsure, or the condition isn't listed, please provide more details later</small></p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <select class="dropDownOption" id="faultConditionDropdown"></select>
        </div>
    </a>

    <!----------------------------------------------------------Camera page---------------------------------------------------->

    <div id="cameraSection">

        <label id="removeImage" onclick="removeImage()"><i class="fas fa-times-circle" ></i></label>

        <div id="addPhoto1" class="addPhoto">
            <!--<label for="imgInp" id="replaceImageButton"><img   src="#" id="imagePreview" /><i class="fas fa-exchange-alt"></i> Replace Image</label>-->

        <label for="imgInp" class="addPhotoIcon">
            <i class="fas fa-camera"></i>
            <p>Add a Photo</p>
        </label>

        <input id="imgInp" type="file"/>
            <img   src="#" id="imagePreview" />
        </div>


        <div class="form-group">
            <label for="additionInformation">Addition Information (Optional)</label>
            <textarea class="form-control" id="additionInformation" rows="4" maxlength="500"></textarea>
        </div>

        <!--<div id="appendImage"></div>


        <div id="addMorePhoto" class="addPhotoButton" onclick="appendPhoto()">
        <i class="fas fa-plus"></i>
        </div>-->


        <div id="unhideStaffEmailInput">
            <p>Please Enter Your Email</p>

            <input class="inputBox" id="staffEmailInput" maxlength="100"  type="text" name="staffEmailInput" placeholder="Enter Email"required>

        </div>


    </div>