

    <div id="homeSection">

        <div class="textOverImageContainer">
    <img class="mainImage" src="image/homeImage.jpg">
    <div class="bottom-left">Welcome to the <span class="redTitle">Greater Anglia</span> fault reporting app</div>

    </div>

    <!---<div class="title">Welcome to the <span class="redTitle">Greater Anglia</span> fault reporting app</div>-->
    <p>Show important noticification</p><hr>
    <p>Show important noticification</p><hr>
    <p>Show important noticification</p><hr>
    <p>Show important noticification</p><hr>
    <p>Show important noticification</p><hr>
    <p>Show important noticification</p><hr>

    <div id="homeSectionFooter">
        <div class="container">
                
            <div id="circleButtonDown" onclick="hideHomeSectionFooter()"><i class='fas fa-angle-double-down'></i></div>

            <div id="circleButtonUp" onclick="unhideHomeSectionFooter()"><i class='fas fa-angle-double-up'></i></div>
            
            <div id="homeSectionFooterHide">
            <a href="#reportFaultForm" class="removeHyperlinkStyle"><p  class="redBox" id="reportFault" onclick="toReportFault()"><i class='fas fa-exclamation-triangle'></i>Report a fault</p></a>
            <a href="#login" class="removeHyperlinkStyle"><p  class="redBox" id="viewFault" onclick="toViewFault()"><i class='fas fa-wrench' ></i> View/ fix reports</p></a>
            </div>
</div>
</div>
 
</div>



