body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

p{
    font-weight:200;
}

select,ul,li{
    border-radius: 0;
}

select:focus, ul:focus, input:focus{

    outline: none;
}
