.fa-building, .fa-train{
    font-size:20px;
    color:white;
    margin-right: 10px;
}

#coach, #station{

    display:none;

}

.inputBox{

    width:100%;
    padding:10px;
    font-size:13pt;
}

.form-control-lg {

    border-radius: 0;
    padding:10px;
    width:100%;
    font-size:13pt;
    margin-bottom:15px;

}

.list-group, #stationList{
    border-radius: 0;

}

.dropDownOption{
    border:solid 1px lightgray;
    width: 100%;
    padding: 15px;
    background-color: white;
    height:45px;
    border-radius: 0;
}

.list-group-item:last-child,.list-group-item:last-child{

    border-radius: 0;
}

