.fa-building, .fa-train, .fa-times, .fa-check{

    font-size:20px;
    color:white;
    margin-right: 10px;
}

.fa-circle{
    position: absolute;
    font-size:6vw;
    color:#D70428;
    top: -3vw;
    left: -3vw;
    overflow:hidden;
}

#faultLocationPoint{
    position: absolute;
    top: 0px;
    left: 0px;
}

#trainMapStyle{
    width:100%;
}

.trainMapContainer{

    position:relative;

}

.fa-question-circle{
    font-size:20px;
    color:#D70428;
    margin-top:2px;
    float:right;
}

.smallFont{

    font-size:11pt;
    font-weight:200;
    color:darkgray;
}

#unhideCoach, #unhideStation, #unhideSeatRequest, #unhideStationNameFilter, #unhideSeatNumber,
#unhideSeatMap, #unhideStationLocation, #unhideFaultDescriptionDropdown, #unhideFaultCondition,
#unhideFaultObject, #otherFault, #trainMap, #userLocateText,#faultLocationPoint{

    display:none;
}

.inputBox{

    width:100%;
    padding:10px;
    font-size:13pt;
    border: 1px solid lightgray;
}
.inputBox:focus {

    outline: 0;
}

.form-control-lg {

    border-radius: 0;
    padding:10px;
    width:100%;
    font-size:13pt;
    margin-bottom:15px;
}

.list-group, #stationList{

    border-radius: 0;
}

.dropDownOption{
    border:solid 1px lightgray;
    width: 100%;
    padding: 15px;
    background-color: white;
    height:45px;
    border-radius: 0;
}

.list-group-item:last-child,.list-group-item:last-child{

    border-radius: 0;
}


