
<div class="navFooterStyle">

    <div id="faultReport1">
    <a href="."><div id="backButtonToHome"  onclick="backToHomeSectionFromFaultReport()"><i class='fas fa-chevron-left'></i> Back</div></a>
    <div id="nextButtonToReport2" onclick="toFaultReport2()" disabled>Next 2<i class='fas fa-chevron-right'></i></div>
        </div>



    <div id="faultReport2">
    <a href="."><div id="backButtonToReport1"  onclick="backToReport1()"><i class='fas fa-chevron-left'></i> Back</div></a>
    <div id="nextButtonToCamera" onclick="toCamera()" disabled>Next C<i class='fas fa-chevron-right'></i></div>
    </div>

    <!-- halfing the fault report into 2 section

</div>
