
<div class="navFooterStyle">

    <div id="faultReport1">
    <a href="."><div id="backButtonToHome" class="boldText" onclick="backToHomeSectionFromFaultReport()"><i class='fas fa-chevron-left'></i> Cancel</div></a>
    <div id="nextButtonToReport2" onclick="toFaultReport2()" disabled>Next 2<i class='fas fa-chevron-right'></i></div>
        </div>


    <div id="faultReport2">
    <div id="backButtonToReport1"  onclick="backToReport1()"><i class='fas fa-chevron-left'></i> Back 1</div>
    <div id="nextButtonToCamera" class="boldText" onclick="toCamera()" disabled>Next<i class='fas fa-chevron-right'></i></div>
    </div>


    <div id="faultReport3">
        <div id="backButtonToReport2" class="boldText" onclick="backToReport2()"><i class='fas fa-chevron-left'></i> Back</div>
        <!--<input id="submitButton" class="boldText" onclick="submitForm()" type="submit" >-->

        <button type="submit" onclick="submitReport()" id="submitButton" class="boldText">Submit<i class='fas fa-chevron-right'></i></button>

    </div>



</div>
